<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink=""><span class="badge bg-light text-dark p-2">Employees</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="active current" routerLink="/add">Add</a>
      <a routerLinkActive="active current" class="nav-item nav-link" routerLink="/search">Search</a>
  </div>
  </div>

</nav>
