/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
html{
  height: 100%;
}
body{
  height: 100%;
}
select{
  border:1px solid #ced4da;
  border-radius: 5px;
  width: 100%;
}
.calendar{
  border-color:#ced4da
}

